{
  "arrowParens": "avoid",
  "trailingComma": "none",
  "singleQuote": true,
  "semi": true,
  "overrides": [
    {
      "files" : "src/**/*.ts",
      "options": {
        "printWidth": 140
      }
    }
  ]
}
